.product_img {
    background-image: url(https://cdn0.fahasa.com/media/catalog/product/8/9/8936183837640.jpg);

}

.product_supplier,
.product_trademark {
    width: 281px;
}

.product_supplier a {
    text-decoration: none;

    color: #2489f4;
}