<div class="mt-4" style="width: 600px;">
    <h3 style="margin-left: 40px;">ĐĂNG SÁCH</h3>
    <form method="POST" action="/book/store">

        <div class="chia-cot">
            <div class="cot1">
                <div class="mb-3">
                    <label for="name" class="form-label">name:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
                </div>
                <div class="mb-3">
                    <label for="nhacungcap" class="form-label">Nhà cung cấp:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="nhacungcap">
                </div>
                <div class="mb-3">
                    <label for="nhaXB" class="form-label">Nhà xuất bản:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="nhaXB">
                </div>
                <div class="mb-3">
                    <label for="tacgia" class="form-label">Tác giả:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="tacgia">
                </div>
                <div class="mb-3">
                    <label for="loaibia" class="form-label">Loại bìa:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="loaibia">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">link ảnh:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="image">
                </div>
            </div>
            <div class="cot2">
                <div class="mb-3">
                    <label for="giaban" class="form-label">Giá bán:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="giaban">
                </div>
                <div class="mb-3">
                    <label for="soluongton" class="form-label">Số lượng tồn:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="soluongton">
                </div>
                <div class="mb-3">
                    <label for="bo" class="form-label">Bộ:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="bo">
                </div>
                <div class="mb-3">
                    <label for="slug" class="form-label">slug:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="slug">
                </div>
            </div>


        </div>
        <button type="submit" class="mb-3 btn btn-primary">Thêm loại sách</button>
    </form>

</div>