<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/lienhe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="lienhe">
        <div class="title-block-page">
            <h1 class="title-head">Liên hệ</h1>
        </div>
        <img class="bando" src="/img/bando.jpg" alt="">
        <div class="row">
            <div class="col_1">

                <div class="item-contact">
                    <div class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="content-r">
                        Địa chỉ:
                        <p>
                            Tòa nhà Ladeco 266 Đội Cấn, Ba Đình, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="item-contact">
                    <div class="icon">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </div>
                    <div class="content-r">
                        Gửi thắc mắc:
                        <p>
                            supportharyluong@sapo.vn
                        </p>
                    </div>
                </div>
                <div class="item-contact">
                    <div class="icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="content-r">
                        Điện thoại:
                        <p>
                            19006750789
                        </p>
                    </div>
                </div>
            </div>
            <div class="col_2 form">
                <div class="col_1_1">
                    <div class="input-name">
                        <label for="">Họ và tên <em style="color: #eb3e32;">*</em></label>
                        <br>
                        <input type="text">
                    </div>
                    <div class="input-name email">
                        <label for="">Email <em style="color: #eb3e32;">*</em></label>
                        <br>
                        <input type="text">
                    </div>
                </div>

                <div class="input-name noidung-1">
                    <label for="">Nội dung <em style="color: #eb3e32;">*</em></label>
                    <br>
                    <input type="text" class="noidung" size="30">
                </div>

                <button class="button-default" type="submit">Gửi liên hệ</button>

            </div>
        </div>

    </div>
</body>

</html>