<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tuyendung.css">
</head>

<body>
    <div class="tuyendung">
        <div class="title-block-page">
            <h1 class="title-head">Tuyển dụng</h1>
        </div>
        <div class="content-page">
            <p>
                <strong>
                    POCO MART TUYỂN DỤNG NHÂN VIÊN BÁN HÀNG FULLTIME TOÀN HÀ NỘI & HCM
                </strong>
                <br>
                <i>**</i>
            </p>
            <img src="/img/thungantrangtri-b4d1efe6-29e4-4629-afe7-61c2089a1580.jpg" alt="">
            <p><b>MÔ TẢ CÔNG VIỆC</b><br>
                - Tính tiền quản lý thu chi trong ca làm việc<br>
                - Tiếp nhận hàng, trưng bày hàng hóa đúng quy tắc<br>
                - Vệ sinh sạch sẽ siêu thị, quầy thu ngân<br>
                - Chủ động hỗ trợ, phục vụ khách hàng<br>
                - Tư vấn giải đáp thắc mắc,yêu cầu của khách hàng khi tham quan mua sắm</p>
            <p><b>YÊU CẦU ỨNG VIÊN:</b><br>
                - Nam/Nữ<br>
                - Tốt nghiệp THPT trở lên. kỹ năng giao tiếp tốt<br>
                - Có khả năng làm việc&nbsp;<b>xoay ca (không làm chết ca):</b><br>
                + Ca sáng (6:00 - 14:00)<br>
                + Ca chiều (13:30:00 - 22:00)<br>
                = &gt; Đăng ký ca trước làm 1 tuần
            </p>
            <p>- Chăm chỉ, trung thực, khỏe mạnh, nhanh nhẹn, hòa đồng</p>
            <p><b>QUYỀN LỢI NHÂN VIÊN:</b></p>
            <p><b>- Lương cứng thử việc 4.8 triệu + Thưởng</b>_<br>
                <i><b>- Lương chính thức: 5,4tr (đã bao gồm bảo hiểm) + Các phúc lợi + Các khoản thưởng KPIs</b></i><br>
                <i>*- Tổng thu nhập 6 - 9 triệu + Chế độ đầy đủ</i>*<br>
                - 1 tuần nghỉ 1 ngày báo quản lí<br>
                - Được đóng đầy đủ 03 loại bảo hiểm BHXH, BHYT, BHTN và gói bảo hiểm sức khỏe Bảo Việt chế độ cao<br>
                - Có cơ hội thăng tiến lên Cửa hàng Phó trong vòng 06 tháng, cửa hàng trưởng sau 4 tháng tiếp
            </p>
        </div>
        <p>Loại hình công việc: Toàn thời gian</p>
    </div>
</body>

</html>