{{!-- <div id="footer">
    <div class="register">
        <h3>ĐĂNG KÝ NHẬN BẢN TIN</h3>
        <div class="footer_text_box">
            <input type="text" placeholder="email@abc.com">
            <button>Đăng ký</button>
        </div>

    </div>
    <div class="text_footer">
        <div class="info_footer">
            <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo.png" alt="">
            <p>Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCM
                Công Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA
                60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam <br> <br>
                Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp
                tại
                văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc. </p>
        </div>

        <div class="info_footer">
            <h3>DỊCH VỤ</h3>
            <ul>
                <li>Điều khoản sử dụng</li>
                <li>Chính sách bảo mật thông tin cá nhân</li>
                <li>Chính sách bảo mật thanh toán</li>
                <li>Giới thiệu Fahasa</li>
                <li>Hệ thống trung tâm - nhà sách</li>
            </ul>
        </div>
        <div class="info_footer">
            <h3>DỊCH VỤ</h3>
            <ul>
                <li>Điều khoản sử dụng</li>
                <li>Chính sách bảo mật thông tin cá nhân</li>
                <li>Chính sách bảo mật thanh toán</li>
                <li>Giới thiệu Fahasa</li>
                <li>Hệ thống trung tâm - nhà sách</li>
            </ul>
        </div>
    </div>
</div> --}}

<div class="footer">
    <div class="grid wide">
        <div class="grid__row">
            <div class="c-2-5 l-2-4 m-3 c-6  ">
                <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Trung tâm trọ giúp</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">hướng dẫn mua</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Tickid mail</a>
                    </li>
                </ul>
            </div>
            <div class="c-2-5 l-2-4 m-3 c-6  ">
                <h3 class="footer-heading">Về Tickid</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Giới thiệu</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Điều khoản </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Dịch vụ</a>
                    </li>
                </ul>
            </div>

            <div class="c-2-5 l-2-4 m-3 c-6  ">
                <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link"></a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link"></a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link"></a>
                    </li>
                </ul>
            </div>
            <div class="c-2-5 l-2-4 m-3 c-6  ">
                <h3 class="footer-heading">kết nối</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item-icon fab fa-facebook"></i> FaceBook</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item-icon fab fa-instagram-square"></i>Instaram</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item-icon fab fa-linkedin"></i>Likedin</a>
                    </li>
                </ul>
            </div>
            <div class="c-2-5 l-2-4 m-3 c-6  ">
                <h3 class="footer-heading">Vào shop</h3>
                <div class="footer__download">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD-MLeCBaCbZjhscSuzbiqlRE6Rm2977yMfA&usqp=CAU"
                        alt="" class="footer-qr-img">

                    <div class="footer__download-apps">
                        <a href="" class="footer__download-app-link">

                            <img src="/asset/css/img/app store.png" alt="" class="footer-item-app">
                            <img src="/asset/css/img/google play.png" alt="" class="footer-item-app">
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>